/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}
/* FINE RESET */

/* UTILITY */
.bg-blue{
    background-color: #0584ff;
}

.bg-lightblue{
    background-color: #abcfe7;
}

.bg-purple{
    background-color: #8801fe;
}

.bg-yellow{
    background-color: #e1d67a;
}

.f-gray{
    color: #a5a5a5;
}

.w-100{
    width: 100%;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* FINE UTILITY */

body{
    width: 80%;
    margin: 0px auto 15px;
    font-family: sans-serif;
}

/* haader */
header img{
    width: 180px;
}

header li{
    display: inline-block;
    padding: 30px 5px;
}

header a{
    text-decoration: none;
}

/* main */
.section-1{
    height: 450px;
    margin: 20px 0;
}

.section-2{
    height: 550px;
    margin-bottom: 6px;
}

.row{
    height: 15%;
}

.c-20{
    width: 20%;
    height: calc(85% - 30px);
    margin: 15px 0;
    float: left;
}

.c-60{
    width: calc(60% - 30px);
    height: calc(85% - 30px);
    margin: 15px 15px;
    float: left;
}

/* footer */
.footer{
    height: 60px;
}