/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}
/* FINE RESET */

/* UTILITY */
.f-gray{
    color: #a5a5a5;
}

.f-white{
    color: white;
}

.w-100{
    width: 100%;
}

.br-10{
    border-radius: 10px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
/* FINE UTILITY */

body{
    width: 80%;
    margin: 0px auto 15px;
    font-family: sans-serif;
}

/* HEADER */
header img{
    width: 180px;
}

header li{
    display: inline-block;
}

header a{
    display: inline-block;
    text-decoration: none;
    padding: 15px 5px;
    margin: 15px 0;
}

header a:hover{
    background-color: #a5a5a5;
    color: white;
}

/* MAIN */
.section-1{
    height: 450px;
    position: relative;
}

.banner{
    background-image: url(../img/banner.jpg);
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-text{
    width: 52%;
    z-index: 1;
    position: absolute;
    left: 40px;
    bottom: 50px;
}

.banner-text h2{
    font-weight: normal;
    font-size: 1.9em;
}

.section-2{
    margin: 25px 0 25px;
}

.row{
    padding-bottom: 25px;
}

.row h2{
    font-size: 2.2em;
}

h3{
    font-weight: normal;
    font-size: 1em;
    margin-bottom: 5px;
}

.c-20{
    width: 20%;
    height: calc(85% - 30px);
    float: left;
}

.c-60{
    width: calc(60% - 30px);
    height: calc(85% - 30px);
    margin: 0px 15px;
    float: left;
}

.c-img{
    position: relative;
    margin-bottom: 15px;
}

.img1{
    background-image: url(../img/img-1.jpg);
    background-size: cover;
    height: 180px;
}

.img2{
    background-image: url(../img/banner-2.jpg);
    background-position: center;
    background-size: cover;
    height: 180px;
}

.img3{
    background-image: url(../img/img-3.jpg);
    background-position: center;
    height: 180px;
}

/* FOOTER */
footer div{
    text-align: center;
}

footer div span{
    color: #ff0202;
    font-size: 1.3em;
}